.inventory-page {
    padding: 16px;
  }
  
  .search-filter-bar {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    >mat-form-field {
        flex: 1;
    }
  }
  
  table {
    width: 100%;
    min-height: 25vh;
  }
  
  .product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .description {
    color: gray;
    font-size: 12px;
    margin: 4px 0 0;
  }
  
  mat-icon {
    color: #1976d2;
  }
  .action-btns{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 16px;
  }
  .custom-btns{
    display: flex;
    p{
        align-self: flex-end;
    }
}