################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/**/obj
*.user
/**/bin/Debug/net8.0
/Practice
/PracticeWebApp
/Infrastructure/Migrations
/Infrastructure/localDBFiles
