<div class="dashboard">
  <!-- Metrics Cards -->
  <div class="metrics-container">
    <mat-card>
      <h3>Total Orders</h3>
      <p>{{ totalOrders }}</p>
    </mat-card>
    <mat-card>
      <h3>Revenue</h3>
      <p>{{ revenue | currency }}</p>
    </mat-card>
    <mat-card>
      <h3>Active Users</h3>
      <p>{{ activeUsers }}</p>
    </mat-card>
    <mat-card>
      <h3>Low Stock Items</h3>
      <p>{{ lowStockItems }}</p>
    </mat-card>
  </div>

  <!-- Charts -->
  <div class="charts-container">
    <mat-card>
      <h3>Sales and User Activity</h3>
      <ngx-charts-combo-chart
        [scheme]="'cool'"
        [results]="combinedData"
        [gradient]="true"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Time Period'"
        [yAxisLabel]="'Values'"
        [autoScale]="true">
      </ngx-charts-line-chart>
    </mat-card>
  </div>
  <!-- <div class="charts-container">
    <mat-card class="graph-card">
      <h3>Sales Trend</h3>
      <ngx-charts-line-chart
        [scheme]="'cool'"
        [results]="salesData"
        [gradient]="true"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Month'"
        [yAxisLabel]="'Sales'"
        [autoScale]="true">
      </ngx-charts-line-chart>
    </mat-card>
    <mat-card class="graph-card">
      <h3>User Activity</h3>
      <ngx-charts-bar-vertical
        [scheme]="'cool'"
        [results]="userActivityData"
        [gradient]="true"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Day'"
        [yAxisLabel]="'Users'"
        
        [roundEdges]="true">
      </ngx-charts-bar-vertical>
    </mat-card>
  </div> -->
</div>
