<div class="dashboard">
  <!-- Metrics Cards -->
  <div class="metrics-container">
    <mat-card>
      <h3>Total Orders</h3>
      <p>{{ totalOrders }}</p>
    </mat-card>
    <mat-card>
      <h3>Revenue</h3>
      <p>{{ revenue | currency }}</p>
    </mat-card>
    <mat-card>
      <h3>Active Users</h3>
      <p>{{ activeUsers }}</p>
    </mat-card>
    <mat-card>
      <h3>Low Stock Items</h3>
      <p>{{ lowStockItems }}</p>
    </mat-card>
  </div>



  <!-- Charts -->
   <div class="charts-container">
    <!-- Combined KPI Chart -->
    <mat-card class="chart-card">
      <h3>Revenue, Orders & Users (Current Month)</h3>
      <div>
        <ngx-charts-bar-vertical-2d
          [scheme]="'cool'"
          [results]="kpiPerCategory"
          [gradient]="true"
          [xAxis]="true"
          [legend]="true"
          [legendTitle]="'KPIs'">
        </ngx-charts-bar-vertical-2d>
    </div>
    </mat-card> 
    
   </div>
  <div class="charts-container">
    <mat-card class="chart-card">
      <h3>Sales and User Activity</h3>
      <div>
     <combo-chart-component
     [scheme]="'cool'"
     [colorSchemeLine]="'cool'"
        [results]="barchartData"
        [lineChart]="lineChartData"
        [gradient]="true"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [showRightYAxisLabel]="true"  
        [xAxisLabel]="'Month'"
        [yAxisLabel]="'UserActivity'"
        [autoScale]="true"
        [animations]="true"
     >

     </combo-chart-component>
    </div>
    </mat-card>

    <mat-card class="chart-card">
      <h3>Monthly Order Fulfillment</h3>
      <div>
        <ngx-charts-bar-vertical-stacked
          [scheme]="'cool'"
          [results]="orderFulfillmentData"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="'Month'"
          [yAxisLabel]="'Orders'"
          [animations]="true">
        </ngx-charts-bar-vertical-stacked>
      </div>
      </mat-card>
  </div>
  <!-- <div class="charts-container">
    <mat-card class="graph-card">
      <h3>Sales Trend</h3>
      <ngx-charts-line-chart
        [scheme]="'cool'"
        [results]="salesData"
        [gradient]="true"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Month'"
        [yAxisLabel]="'Sales'"
        [autoScale]="true">
      </ngx-charts-line-chart>
    </mat-card>
    <mat-card class="graph-card">
      <h3>User Activity</h3>
      <ngx-charts-bar-vertical
        [scheme]="'cool'"
        [results]="userActivityData"
        [gradient]="true"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Day'"
        [yAxisLabel]="'Users'"
        
        [roundEdges]="true">
      </ngx-charts-bar-vertical>
    </mat-card>
  </div> -->
</div>
