

<app-nav-menu [menuItems]="menuItems">

  <ng-container toolbar-right>
      <button
        mat-icon-button
        [matMenuTriggerFor]="notificationsMenu"
        matBadge="4"
        matBadgeColor="warn"
        matBadgePosition="above"
        matBadgeHidden="{{notifications.length === 0}}">
        <mat-icon>notifications</mat-icon>
      </button>

      <!-- User Profile -->
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
  </ng-container>
  <ng-container content>
    <router-outlet></router-outlet>
  </ng-container>

</app-nav-menu>


<mat-menu #profileMenu="matMenu">
  <button mat-menu-item (click)="viewProfile()">
    <mat-icon>person</mat-icon>
    <span>View Profile</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>


<mat-menu #notificationsMenu="matMenu">
  <div *ngIf="notifications.length > 0; else noNotifications">
    <mat-list>
      <mat-list-item *ngFor="let notification of notifications">
        <p>{{ notification }}</p>
      </mat-list-item>
    </mat-list>
  </div>
  <ng-template #noNotifications>
    <p class="no-notifications">No new notifications</p>
  </ng-template>
</mat-menu>