
  table {
    width: 100%;
    min-height: 60vh;
  }
  
  
  mat-icon {
    color: #1976d2;
  }
  .action-btns{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 16px;
  }
  .custom-btns{
    display: flex;
    p{
        align-self: flex-end;
    }
  }